const excludedAccounts = [
  'USLACKBOT'
]

const emails = {
  'UXXXXXXXX': 'user@domain.com',
}

const includeRestricted = false

module.exports = {
  excludedAccounts,
  emails,
  includeRestricted
}